/* NEW */

/* General */
 body {
	color:#ffffff; 
	background-color: #0e0e0c;
	margin:0; 
	font-family:Arial; 
	font-size: 13px;
	text-align:center; 
}

.header { margin:0 auto; max-width:800px; }
.header img { width: 100%; }

a {color:#f6d106; 
	text-decoration:none; 
	font-weight:none;
 }
a:hover {text-decoration: underline; }

h5 { text-align:center; }

#tag a {color:#ffffff; text-decoration:none; font-weight:normal;}
#tag a:hover { text-decoration: underline; }

#nosubs {color:#d26b02; font-size:9px; font-weight: bold;}
#subs, #subs a{ font-size:9px; font-weight: bold;}

#wait {color:#808080;}

.sticky { position:sticky; top:0; }

#btnTop {
  color: #ffffff;
  background-color: #aba476a3;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 2px solid #797039;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
#btnTop:hover {color:#f6d106; background-color: #0e0e0c}
#btnTop:active {color:#000000;background-color: #ffd700; border:none}

/* Page Button */
.btn-container {
	max-width:800px;
	margin: 0 auto;
}

.btn-container button {
	color: #ffffff;
	background-color:#00000000;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
}

.btn-container a {text-decoration:none;}
.btn-container button:hover {color: #f6d106; background-color: #00000000;}
.btn-container button:active {color: #000000; background-color: #aba476; font-weight:bold;}

#highlight {color:#000000; background-color:#aba476; font-weight:bold;}
div.menu {display:none}

/* Main Body */
.main { background-color:#aba476; margin:0 auto; max-width:800px; }

/* Box*/
.box {
	background-color:#0e0e0c;
	border: 2px solid #797039;
	margin: 0 5px 5px 5px;
}
.bigBox {text-align:left; padding: 10px}
.smallBox{padding:0 10px}

.secTitle {
	color:#000000;
	background-color:#ffd700;
	font-weight:bold;
	text-align:center;
	padding: 5px;
}
.small {font-size:9px;}

/* New to SKZ */
#open {margin-left: 5px; margin-right: 5px}
#open button {
	color:#000000;
	background-color:#ffd700;
	border: 2px solid #797039;
	border-bottom:none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	width:100%;
}
#open button:hover {color: #d26b02; background-color: #0e0e0c}
#open button:active {color: #f6d106; background-color: #0e0e0c; font-weight:bold}

/* Navigation */
#nav {
	color: #f6d106;
	font-weight:bold;
	padding:0;
}

#nav button{
	border: none;
	color: #ffffff;
	background-color:#0e0e0c;
	border-top: 1px solid #797039;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	width:100%;
}


#nav a {text-decoration:none}
#nav button:hover { color: #f6d106; background-color: #aba476}
#nav button:active { color: #000000; background-color: #ffd700; font-weight:bold;}














/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.33%; }
.span_1_of_3 { width: 32.66%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	.sticky {position:static;}
	span.menu {display:none;}
	div.menu {display:block;}